@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet default styles — must be imported globally */
@import "leaflet/dist/leaflet.css";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
