# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# next
.next/
out/

# misc
.DS_Store

# environment files
public/__ENV.js
.env.*

# TypeScript build cache
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
*.pem
.vscode

# PyCharm build files
.idea/
